*{
    margin: 0%;
    padding: 0%;
    font-family: Roboto;
}
body{
    background-color: #0765db;
}
#basicAboutMe{
    margin: 2%;
    background-color: #ffe3d0;
    height: 100%;
    width: 96%;
    position: absolute;
}
#hey{
    font-weight: bolder;
    text-align: center;
    color: #0765db;
    padding-top: 50px;
    font-size: 72px;
    padding-bottom: 15px;
}
#student{
    color: #0765db;
    text-align: center;
    padding-bottom: 15px;
}
#img{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}
div img{
    width: 200px;
    height: auto;
    clip-path: circle();
}
.hell{
    display: grid;
}